{{#each this}}
<li>
    <h1>Город: {{name}}</h1>
    <h2>Дата: {{moment dt input="DD-YYYY-MM"}}</h2>
    <p>Восход солнца: {{sys.sunrise}}</p>
    <p>Закат солнца: {{sys.sunset}}</p>
    <p>Давление: {{main.pressure}} мм.рт.ст</p>
    <p>Влажность: {{main.humidity}} %</p>
    <p>{{weather.0.main}}</p>
    <img src="https://openweathermap.org/img/w/{{weather.0.icon}}.png" alt="{{weather.0.main}}">
    <p>Скорость ветра: {{wind.speed}} м/с</p>
    <p>Температура: {{main.temp}}</p>
    <p>Минимальная температура: {{main.temp_min}}</p>
    <p>Максимальная температура: {{main.temp_max}}</p>
</li>
{{/each}}